{% extends "layout.html" %}
{% block title %} - {{ emoji.shortcode }}{% endblock title %}
{% block body %}
<header class="emoji">
<div class="preview">
<img src="{{ emoji.imgsrc }}">
</div>
<h2>:{{ emoji.shortcode }}:</h2>
</header>
<p style="clear: both">
Available on:
</p>
<ul class="instancelist">
{% for instance in emoji.instances %}
<li class="instance">
<a href="{{ url_for('instancesearch', uri=instance.uri) }}">
{{ instance.uri }}
</a>
</li>
{% endfor %}
</ul>
{% if similar %}
<p>
Also known as:
</p>
{% from 'emojilist.html' import emojilist %}
{{ emojilist(similar) }}
{% endif %}
{% endblock body %}
