{% extends "layout.html" %}
{% block title %} - {{ instance.uri }}{% endblock title %}
{% block body %}
<header class="instance">
<h2>{{ instance.title }}</h2>
<div class="preview">
<a href="https://{{ instance.uri }}">
{% if instance.thumbnail -%}
<img src={{ instance.thumbnail }}>
{% else %}
{{ instance.uri }}
{% endif %}
</a>
</div>
<blockquote>
{{ instance.description|strip }}
</blockquote>
</header>
{% if instance.pending %}
<p style="clear: both">
Currently fetching emoji! Please check back in a few.
</p>
{% else %}
{% from 'emojilist.html' import emojilist %}
{{ emojilist(instance.emoji, clear=True) }}
{% endif %}
{% endblock body %}
