{% extends "layout.html" %}
{% block title %} - {{ instance.uri }}{% endblock title %}
{% block body %}
<header class="instance">
<h2>{{ instance.title }}</h2>
<div class="preview">
<a href="https://{{ instance.uri }}">
{% if instance.thumbnail -%}
<img src={{ instance.thumbnail }}>
{% else %}
{{ instance.uri }}
{% endif %}
</a>
</div>
{{ instance.description|strip }}
</header>
<dl class="emojilist" style="clear: both">
{% for emoji in instance.emoji %}
<div class="emoji">
<dt>
<a href="{{ url_for('emoji', id=emoji.id) }}">
<img src="{{ emoji.imgsrc }}" alt=":{{ emoji.shortcode }}:">
</a>
</dt>
<dd>
<a href="{{ url_for('emoji', id=emoji.id) }}">
:{{ emoji.shortcode }}:
</a>
</dd>
</div>
{% endfor %}
</dl>
{% endblock body %}

